@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

#title{
   font-family: "Modak";
   color: red;
   font-weight: 200;
   font-size: 72px;
   text-align: center;
   margin: 0px;
}

#titleDesign {
   background-color: darkkhaki;
   margin-top: 0px;
   margin-left: 20px;
   margin-right: 20px;
   text-decoration: solid; 
}

.menu{
   font-size: large;
}

#mainMenu {
   background-color: lightblue;
   border:  1px solid black;
   background-color: #4CAF50;
   color: white;

   width: 80%;
   text-align: center;
   margin-left: 10%;
   margin-right: 10%;
   font-family: "Noto Sans";
   font-size: large;
   font-weight: bold;
   
}

a:link {
   color: green;
   background-color: transparent;
   text-decoration: none;
 }
 
 a:visited {
   color: green;
   background-color: transparent;
   text-decoration: none;
 }
 a:hover {
   color: red;
   background-color: blue;
   text-decoration: underline;
   font-size: 20px;
 }
 

html{
   background-color: rgb(233,233,233);
}
