@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

#title{
   font-family: "Modak";
   color: red;
   font-weight: 200;
   font-size: 72px;
   text-align: center;
   margin: 0px;
  
}

#titleDesign {
   background-color: rgb(5, 223, 168);
   margin-top: 0px;
  
   text-decoration: solid; 


   margin-right: 10%;
   margin-left: 10%;
   width: 80%;
   height: 120px;
   box-shadow: 6px 10px 10px rgb(100, 97, 59); /* x irány, y irány, milyen széles, szín*/
}

.menu{
   font-size: large;
}

#mainMenu {
   background-color: lightblue;
   margin-left: 10%;
   margin-right: 15%;
   border: 10p;
   width: 80%;
   text-align-last: center;
   height: 70px;
   box-shadow: 6px 10px 10px rgb(100, 97, 59); /* x irány, y irány, milyen széles, szín*/

}

.mainName{
   font-size: 60px;
   text-align: left;
   padding: 20px;
  text-decoration-line: underline; 
}
.mainNameLeft{
   font-size: 60px;
   text-align: right;
   padding: 20px;
  text-decoration-line: underline; 
}

tr:nth-child(even) {background-color: rgb(243, 162, 13);}


.content {
   margin-left: 10%;
   margin-right: 10%;
   width: 80%;
   height: 450px;
   background-color: lightcoral;
   font-family: "Modak";
   font-size: 23px;
   font-weight: 100;
   box-shadow: 6px 10px 10px rgb(100,97,59);
   text-align-last: center;

}


a:link {
   font-family:  "Modak";
   font-size: 30px;
   font-weight: lighter;
   text-decoration: chartreuse;
 }
 

 a:hover {
   font-family:  "Modak";
   font-size: 30px;
   font-weight: lighter;
   background-color: rgb(112, 201, 204);
 }



html{
   background-color: rgb(199, 212, 230);
}
